<h4>Post details:</h4>
<br />
<p>
	<%= @post.post %>
	<br /><br />
	<span style="font-size: 75%; color: #999"><%= @post.username %> wrote <%= @post.created_at %></span>
</p>

<br />
<hr />
<h4>Comments:</h4>
<br />
<% @comments.each do |comments| %>
	<p>
		<%= comments.comment %>
		<br />
		<span style="font-size: 75%; color: #999"><%= comments.username %> wrote <%= comments.created_at %></span>
	</p>
<% end %>

<br />
<p>
	<form action="/post/<%= @post.id %>" method="POST" role="form">
		<input name="comment[username]" type="text" class="form-control" style="width: 600px" placeholder="Enter username" value="<%= @new_comment.username %>">
		<br />
		<textarea name="comment[comment]" class="form-control" rows="6" style="width: 600px" placeholder="Type comment text here"><%= @new_comment.comment %></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>